*{
    
    font-size: 1rem;
    font-weight: 400;
    font-family:Rubik, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    padding: unset;
    margin: unset;

    box-sizing: border-box;

    /* border: solid 1px red; */

}

body, html {
min-height: 100vh;
}

@font-face {
    font-family: juan;
    src: url('/assets/Chopsic.otf');
}


/* FlexBox */

nav {
display: flex;
align-items: center;
justify-content: space-between;
padding: 15px 30px;
background-color: #393E84;

}

.titulo h1 {
/* font-weight: bold; */
color: white;
font-size: 35px;
font-family: juan;
letter-spacing: 5px;
}

.search {
display: flex;
color: white;
justify-content: space-between;
border-bottom: 2px solid white;
padding-bottom: 10px;
min-width: 225px;

}

.playlist {
    display: flex;
    font-size: 25px;
    color: white;
    align-items: center;
    font-weight: bold;
    padding-left: 0px;
    flex-direction: column;
    width: 40%;

}
.playlist h4 {
margin-bottom: 30px;


}

.play-icon {
display: inline-block;
width: 40px;
height: 40px;
background-image: url(/assets/play-icon.svg) ;
background-repeat: no-repeat;
 
}

.song-item:hover .play-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url(/assets/play-icon-black.svg) ;
    background-repeat: no-repeat;
}


.song-info {
display: flex;
}
.song-info img {
margin-right: 35px;
border-radius: 50%;
}


#songs {
width: 100%;

}
.song-item {
margin-bottom: 7px;
border-radius: 10px;
background-color: rgba(255, 255, 255, 0.1);
justify-content: space-between;

}



.main {
    display: flex;
    background-image: url("assets/home\ \(2\).jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 45px 30px 45px 30px;
}

.audio-player {
    display: flex;
    font-size: 25px;
    color: white;
    align-items: center;
    font-weight: bold;
    padding-left: 253px;
    padding-top: 65px;
    flex-direction: column;
    
    
}
#audio-player-image {
    background-image: url("/assets/Vector\ \(9\).svg");
    background-repeat: no-repeat;
    background-size: 300px 300px;
    border-radius: 25%;
    height: 374px;
    width: 374px;
    background-position: 17px 38px;
}
/* #audio-player-author {
justify-content: center;
padding-left: 120px;
} */

#play-btn {
background-image: url(/assets/btn-play.svg);
background-repeat: no-repeat;
background-size: 50px;
height: 100px;
width: 83px;
}

#pause-btn {
    background-image: url(/assets/btn-pause.svg);
    background-repeat: no-repeat;
    background-size: 50px;
    height: 94px;
    width: 100px;
}

#stop-btn {
    background-image: url(/assets/btn-stop.svg);
    background-repeat: no-repeat;
    background-size: 50px;
    height: 93px;
    width: 83px;
}

.buttons-icons {

margin-top: 20px;

}